<section class='main'>
    <div class='row'>
      <div ng-hide='user.createAccount' class='col-md-4 fade'>
       <form class="form-signin">
         <h2 class="form-signin-heading">Login</h2>
         <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
         <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
         <button class="btn btn-info btn-block login" type="submit">Sign In</button>
         <button class='btn btn-warning btn-block create' ng-click='user.toggleCreateAccount()'>Create Account</button>
       </form>
     </div>
     <div ng-show='user.createAccount' class='col-md-4 col-md-offset-4 new-account fade'>
       <i class="fa fa-times fa-2x" id="close-create" aria-hidden="true" ng-click='user.toggleCreateAccount()'></i>
       <form class="form-signin">
         <h2 class="form-signin-heading">New Account</h2>
         <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
         <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
         <button class="btn btn-info btn-block login" type="submit">Submit</button>
       </form>
     </div>
   </div>
 </section>
