doctype html
html
  head
    title= title
    link(rel='stylesheet' href='stylesheets/bootstrap.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
  body
    block content

  footer
    img(src='http://code.divshot.com/geo-bootstrap/img/test/counter2.gif' class='counter')
    p &copy 1996 Galvanize, Inc.
