doctype html
html
  head
    title= title
    link(rel='stylesheet' href='stylesheets/bootstrap.css')
    link(rel='stylesheet' href='stylesheets/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
  body(id='large-header' class='large-header' style='height: 800px;')
    canvas(id='canvas')
    script(src='scripts/floats.js')
    block content
  footer
    p &copy 2016 infinite garden
